#word{
  margin-bottom: 2rem;
  font-style: italic;
  font-size: 22px;
  background: #a5a5a5;
  padding: 20px;
}

#take-picture{
  display: none;
}

#take-picture-btn{
  display: flex;
  align-items: center;

  background: none;
  border-radius: 5px;
  padding: 10px;
}

#take-picture-btn, #take-picture-btn span {
  font-size: 40px;
}

#take-picture-btn .icon{
  padding-right: 15px;
}

blockquote{
  font-family: serif;
}

.image-and-caption{
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-and-caption img{
  display: block;
  margin: 2px;
  max-width: 100%;
}

.material-icons, .material-icons-outlined{
  vertical-align: middle;
}

.card{
  margin-bottom: 1em;
}

.card-media{
  margin-bottom: 0;
}
